<%= form_with url: passing_test_path(@passing_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passing_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p class="mt-3">
      <%= b.check_box class: 'form-check-input ms-3' %>
      <%= b.label class: 'ms-1' %>
    </p>
  <% end %>
  
  <p class="ms-3">
    <%= link_to t('.create_gist_link'), gist_passing_test_path(@passing_test), method: :post %>
  </p>

  <%= form.submit t('.submit'), class: 'btn btn-primary' %>
<% end %>
