<%= form_with url: passing_test_path(@passing_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passing_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box %>
      <%= b.label %>
    </p>
  <% end %>

  <%= form.submit 'Далее' %>
<% end %>
