<%= form_with url: sessions_path, local: true do |form| %>
  <%= show_flash %>

  <p>
    <%= form.label :name, 'Имя' %><br>
    <%= form.text_field :name, id: :name %>
  </p>
  <p>
    <%= form.label :email, 'E-mail' %><br>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :password, 'Пароль' %><br>
    <%= form.password_field :password, id: :password %>
  </p>

  <p><%= form.submit 'Войти' %></p>
<% end %>
