<header>
  <nav class="navbar navbar-dark navbar-expand-lg p-3 mb-5" style="background-color: rgba(72, 170, 242);">
    <div class="container">
      <strong><%= link_to t('general.app_title'), root_path, class: 'navbar-brand' %></strong>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mt-2">
            <span class="navbar-text"><%= t('.admin_panel') %></span>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= admin_tests_path %>"><%= t('.all_tests') %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= admin_gists_path %>"><%= t('.all_gists') %></a>
          </li>
        </ul>
      
        <span class="navbar-text">
          <% if user_signed_in? %>
            <%= t('general.greetings_html', name: current_user.name) %> | 
            <%= link_to t('general.link_logout'), destroy_user_session_path, method: :delete %>
          <% end %>
        </span>
      </div>
    </div>
  </nav>
</header>
