<h2><%= t('.header', test: @test.title) %></h2>

<p>
  <strong><%= t('.body') %>: </strong><%= @question.body %>
</p>

<h2><%= t('.list') %>:</h2>

<p><%= link_to t('.link_new'), new_admin_question_answer_path(@question) %></p>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to t('.link_questions'), admin_test_path(@test) %>
</p>
