<h2>Вопрос для теста: "<%= @test.title %>"</h2>

<p>
  <strong>Текст вопроса: </strong><%= @question.body %>
</p>
<p>
  <%= link_to 'К списку вопросов', admin_test_path(@test) %> |
  <%= link_to 'Редактировать', edit_admin_question_path %> |
  <%= link_to 'Удалить',
              admin_question_path, 
              method: :delete,
              data: { confirm: 'Вы уверены?' } %>
</p>
