<h2><%= t('.header') %></h2>

<%= render 'shared/errors', resource: @test %>

<p><%= link_to t('.link_new_test'), new_admin_test_path %></p>

<div class="table-responsive-sm">
  <table class="table table-striped">
    <th><%= t('.th_title') %></th>
    <th><%= t('.th_level') %></th>
    <th><%= t('.th_category') %></th>
    <th><%= t('.th_time_to_pass') %></th>
    <th><%= t('.th_amount') %></th>
    <th colspan="3"><%= t('.th_actions') %></th>

    <%= render @tests %>
  </table>
</div>
