<p>
  <strong><%= t('.title') %>: </strong><%= @test.title %><br>
  <strong><%= t('.level') %>: </strong><%= @test.level %><br>
  <strong><%= t('.category') %>: </strong><%= @test.category.title %><br>
  <% if @test.time_to_pass %>
    <strong><%= t('.time_to_pass') %>: </strong><%= @test.time_to_pass %>
  <% end %>
</p>

<h2><%= t('.list') %>:</h2>

<p><%= link_to t('.link_new'), new_admin_test_question_path(@test) %></p>

<ol>
  <%= render @questions %>
</ol>

<p>
  <%= link_to t('.link_tests'), admin_tests_path %>
</p>
