<p>
  <strong><%= t('.title') %>: </strong><%= @test.title %><br>
  <strong><%= t('.level') %>: </strong><%= @test.level %>
</p>

<h2><%= t('.list') %>:</h2>

<p><%= link_to t('.link_new'), new_admin_test_question_path(@test) %></p>

<ol>
  <%= render @questions %>
</ol>

<p>
  <%= link_to t('.link_tests'), admin_tests_path %>
</p>
