<h2><%= t('.header') %></h2>

<table>
  <th><%= t('.th_title') %></th>
  <th><%= t('.th_level') %></th>
  <th><%= t('.th_amount') %></th>
  <th><%= t('.th_actions') %></th>

  <%= render @tests %>
</table>
