<p>
  <strong>Название теста: </strong><%= @test.title %><br>
  <strong>Сложность: </strong><%= @test.level %>
</p>

<h2>Список вопросов:</h2>

<p><%= link_to 'Новый вопрос', new_test_question_path(@test) %></p>

<table>
  <ol>
    <%= render @questions %>
  </ol>
</table>

<p>
  <%= link_to 'К списку тестов', tests_path %>
</p>
